* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(../img/soccer.png);
  background-attachment: fixed;
  background-size: auto 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.grayline {
  color: rgba(226, 226, 226, 0.671);
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.iconmenu {
  margin: 40px 50px;
  position: relative;
  z-index: 10;
}

.iconmenu2 {
  width: 50px;
  margin: -130px 0px 0px 80%;
  position: relative;
  z-index: 0;
}

.iconmenu img {
  vertical-align: top;
  width: 35px;
  cursor: pointer;
}

.contmenu {
  background: #2ca50b;
  background: linear-gradient(164deg, #2ca50b 28%, #38aa19 43%, #76c561 87%);
  -webkit-box-shadow: 1px 0px 35px 10px #555454;
          box-shadow: 1px 0px 35px 10px #555454;
  width: 375px;
  height: 100vh;
  position: absolute;
  overflow: scroll;
  top: 0;
  left: 0;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  z-index: 9;
}

.contmenu ul {
  list-style: none;
}

.contmenu ul li {
  color: azure;
  display: block;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 30px;
  cursor: pointer;
  border-top: 0.5px solid rgba(255, 255, 255, 0.108);
}

.contmenu ul li:last-child {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.108);
}

.contmenu ul li:hover {
  background: #ffa703;
  background: linear-gradient(144deg, rgba(255, 167, 3, 0.931) 63%, #d1a553 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.ico {
  width: 25px;
  margin-right: 10px;
  padding-bottom: 4px;
}

.icoactive {
  width: 25px;
  margin-right: 10px;
  padding-bottom: 4px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.ico2 {
  width: 50px;
  margin-left: 40px;
  -webkit-filter: invert(0%);
          filter: invert(0%);
  cursor: pointer;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.ico2 .ico2:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.icono {
  font-size: 1.8rem;
  color: #e46d1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  align-content: center;
  margin-bottom: -7px;
  padding-top: -10px;
  cursor: pointer;
}

.icono2 {
  font-size: 1.8rem;
  color: #e46d1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  align-content: center;
  margin-bottom: -7px;
  padding-top: -10px;
  cursor: pointer;
  margin-top: -6px;
}

.active {
  -webkit-transform: translate(-600px);
          transform: translate(-600px);
}

.opacity {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.titleunderline {
  margin-bottom: -0.5rem;
  color: #3d3d3d;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: 550;
  line-height: 20px;
  margin: 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

.cont-enlace {
  width: 85%;
  background-color: rgba(226, 226, 226, 0.671);
  border: 1px solid rgba(238, 237, 237, 0.486);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.cont-enlace-nav {
  background-color: rgba(226, 226, 226, 0.671);
  border: 1px solid rgba(238, 237, 237, 0.486);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  margin-left: 50px;
  margin-right: 50px;
  height: 450px;
}

.cont-enlace-nav:hover {
  background-color: rgba(238, 236, 236, 0.871);
}

.cont-enlace:hover {
  background-color: rgba(238, 236, 236, 0.871);
}

.cont-enlace-lectura {
  width: 85%;
  background-color: #f3f1f1;
  border: 1px solid rgba(238, 237, 237, 0.445);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.cont-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ol p {
  margin-top: 0.5rem;
}

.moreInfo, .moreInfo2, .moreInfo3 {
  background-color: rgba(255, 166, 0, 0.171);
  border: 5px;
  padding-top: 10px;
  border-radius: 5px;
  display: none;
}

.gameInfo2 {
  border: 5px;
  padding-top: 10px;
  border-radius: 5px;
  width: 100%;
}

.gameInfo1 {
  border: 5px;
  padding-top: 10px;
  border-radius: 5px;
  width: 100%;
}

thead tr {
  text-align: center;
}

.lessInfoshow {
  display: none;
}

.moreInfoshow {
  display: block;
}

.teams a {
  text-decoration: none;
  color: #e46d1e;
  font-style: oblique;
  font-weight: 550;
}

tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.4em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(226, 226, 226, 0.671);
}

.trblack {
  border-bottom: 1px solid rgba(226, 226, 226, 0.671);
}

tr th {
  width: 100%;
  border-bottom: 2px solid rgba(226, 226, 226, 0.671);
  background-color: #ff8d00;
  text-align: center;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

tr th p {
  margin-top: 10px;
  margin-right: 10px;
  color: #3d3d3d;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin: 5px 5px 5px;
  text-align: center;
  text-transform: uppercase;
}

.contactginfo h4 {
  font-weight: 600;
  background-color: rgba(255, 166, 0, 0.116);
}

.maph2 {
  font-weight: 550;
  background-color: rgba(255, 166, 0, 0.116);
}

.formintro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.formintroshort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  margin-bottom: 10px;
}

fieldset {
  border-bottom: 1px solid rgba(226, 226, 226, 0.671);
  margin-bottom: 20px;
  margin-top: 10px;
}

fieldset legend {
  font-weight: 550;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 2px solid #f3f1f1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

input:hover {
  -webkit-box-shadow: #e46d1e 0px 0px 10px 0px, rgba(228, 109, 30, 0.801) 0px 0px 1px 0px;
          box-shadow: #e46d1e 0px 0px 10px 0px, rgba(228, 109, 30, 0.801) 0px 0px 1px 0px;
}

table {
  margin-bottom: 20px;
}

.tablesubmit {
  max-width: 400px;
}

.Infomaps1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Infomaps2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.map {
  margin-bottom: 20px;
}

td a {
  text-decoration: none;
  color: #e46d1e;
  font-weight: 500;
}

.rulesCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rulesT {
  font-weight: bolder;
}

.formbt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.red {
  -webkit-box-shadow: rgba(16, 16, 192, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(16, 16, 192, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px 50px 50px 5px;
  padding: 5px;
  border: 0.5px solid rgba(226, 226, 226, 0.671);
  background-color: rgba(196, 43, 43, 0.829);
  font-weight: 500;
  margin-top: 20px;
}

.green {
  -webkit-box-shadow: rgba(57, 192, 16, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(57, 192, 16, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 50px 5px 5px 50px;
  padding: 5px;
  border: 0.5px solid rgba(226, 226, 226, 0.671);
  background-color: rgba(61, 196, 43, 0.829);
  font-weight: 500;
  margin-top: 20px;
}

.txtup {
  color: black;
}

.icoup {
  width: 20px;
}

.screenH li {
  border: 1px solid rgba(226, 226, 226, 0.671);
  padding-left: 0px;
}

.screenH li :hover {
  background-color: whitesmoke;
}

.screenH p {
  margin-bottom: 0px;
}

.screenH ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.screenH ul button {
  border: none;
  width: 100%;
}

.screenH ul button :hover {
  background-color: #ff8d00;
}

.infoT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.Imap {
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.collapse {
  display: none;
}

.acomodo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul button {
  border: 1px solid rgba(226, 226, 226, 0.671);
}

ul button:hover {
  background-color: #ff8d00;
}

.vvv {
  background-color: #ff8d00;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

a {
  text-decoration: underline;
  color: #039BE5;
}

.mdl-menu a {
  text-decoration: none;
}

.content {
  max-width: 1024px;
}

.mdl-card {
  display: block;
}

h3 {
  text-align: center;
}

.mdl-textfield {
  width: 100%;
}

/* Fixes an MDL bug where the header does not scroll on small devices */
.mdl-layout__container .mdl-layout--fixed-header .mdl-layout__content {
  overflow-y: visible;
  overflow-x: visible;
  overflow: visible;
}

/* Overrides MDL colors */
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after,
.header .mdl-textfield__label:after {
  background-color: #FFCA28;
}

.mdl-snackbar__action {
  color: #FFCA28;
}

.mdl-textfield__label:after {
  background-color: #0288D1;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: #0288D1;
}

/* Header */
#chatnameG {
  font-family: 'Amaranth', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* 
.material-icons {
    margin-top: 10px;
    width: 100%;
}  */
.header .mdl-layout__header-row {
  max-width: 1024px;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 840px) {
  .header .mdl-layout__header-row.titlebar {
    height: 56px;
  }
  .titlebar h3 {
    font-size: 24px;
  }
  .titlebar h3 .material-icons {
    top: 2.5px;
    font-size: 23px;
  }
}

@media screen and (max-width: 479px) {
  .mdl-grid {
    padding: 0;
  }
  .mdl-card {
    font-size: 14px;
  }
}

/* Signed-in user */
.avatar {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-size: 32px 32px;
  border-radius: 32px;
  border: 2px white solid;
  margin-right: 10px;
  background-image: url("./silhouette.jpg");
}

.username {
  display: inline-block;
  line-height: 38px;
  vertical-align: top;
  width: calc(100% - 46px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

#sign-in-button {
  margin-left: 10px;
  color: inherit;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
}

#sign-in-button-FB {
  margin-left: 10px;
  color: inherit;
  margin-top: 20px;
  /* background-color: rgb(69, 69, 204); */
  border-radius: 30px;
  border: none;
}

#sign-out-button {
  right: 0;
  position: absolute;
  margin: 10px;
  color: inherit;
  width: 50%;
  border: none;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: whitesmoke;
  border-radius: 30px;
}

.mdl-button {
  margin-top: -2px;
}

.material-icons {
  margin-top: -2px;
}

i.material-icons {
  margin-top: -2px;
}

.mdl-button.mdl-button--icon .material-icons,
.mdl-button.mdl-button--fab .material-icons {
  margin-top: 0;
}

/* Navigation Bar */
.header .mdl-tab {
  padding-left: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: visible;
  position: relative;
  margin: auto;
  max-width: 1024px;
}

@media screen and (max-width: 609px) {
  .header .mdl-tab {
    width: auto;
  }
}

.header .tab {
  padding: 0;
  max-width: none;
}

#add {
  position: absolute;
  right: 20px;
  top: 18px;
  z-index: 998;
}

@media screen and (max-width: 840px) {
  #add {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 998;
    top: auto;
  }
}

/* Drawer */
.mdl-layout__drawer-button {
  display: none;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.is-active,
.is-active .mdl-menu__item {
  color: black;
  background-color: #0b4d08;
}

.mdl-layout__drawer {
  border-right-width: 0;
}

.mdl-navigation__link .material-icons, .mdl-menu__item .material-icons {
  position: relative;
  margin-top: -2px;
  margin-right: 10px;
}

.mdl-menu__item .material-icons {
  top: 7px;
}

@media screen and (max-width: 479px) {
  .mdl-layout__drawer-button {
    display: block;
    top: 3px;
  }
}

/* New Post Page */
#page-add {
  display: block;
  text-align: center;
}

#page-add .mdl-cell {
  width: auto;
  min-width: 300px;
}

#newPictureContainer {
  margin: 0;
  max-width: 100%;
  max-height: 400px;
}

@media screen and (max-width: 479px) {
  .mdl-snackbar__action {
    margin-right: 60px;
  }
}

.comments-container .username {
  width: auto;
}

.comments-container .comment {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  color: grey;
  line-height: 25px;
}

.comments-container .username {
  line-height: 25px;
}

/* Post */
.post .mdl-card {
  height: 100%;
  top: 0;
  left: 0;
  min-height: 0;
}

.post .header {
  padding: 10px;
  width: calc(100% - 100px);
  display: inline-block;
}

.post .star-count {
  color: #444;
  padding: 0 10px 0 5px;
  font-weight: bold;
  display: inline-block;
  top: -10px;
  position: relative;
}

.post .comments-container {
  padding: 15px 10px 0 10px;
}

.post .text {
  padding: 0 10px;
  color: grey;
}

.post .comments-container .text {
  margin-left: 5px;
  color: #444;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.post .add-comment {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 10px;
  margin-bottom: -10px;
}

.post .add-comment.mdl-textfield {
  width: 100%;
}

.post .star {
  position: absolute;
  top: 10px;
  right: 0;
}

.post .star .material-icons {
  font-size: 35px;
  color: #ffcb0c;
  cursor: pointer;
}

.post .star .material-icons:HOVER {
  opacity: 0.6;
}

.post .star .starred {
  display: none;
}

/* Splash Page */
#page-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #64af4a;
  background: radial-gradient(circle, #64af4a, #198754);
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#usernameNYSL {
  width: 250px;
  /* text-align: start; */
}

#passwordNYSL {
  width: 250px;
}

#sign-in-button-MAIL {
  background-color: #41c841;
  width: 250px;
  margin-top: 10px;
}

.popUpSig {
  width: 80%;
  height: 70%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.logInAlt {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.separador {
  font-size: xx-large;
  color: gray;
  height: 48px;
  margin-top: 9px;
}

.h2Sign {
  color: #141414;
}

.notSign {
  color: gray;
  text-decoration: none;
}

.regist label {
  color: gray;
  font-size: medium;
}

.regist input {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #149e14;
  margin-bottom: 1em;
}

.msggeneral {
  width: 25px;
  position: absolute;
  margin-left: 232px;
}

@media (orientation: portrait) {
  .Infomaps1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Infomaps2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .screenH {
    display: none;
  }
}

@media (orientation: landscape) {
  .iconmenu2 {
    width: 50px;
    margin: -130px 0px 0px 90%;
    position: relative;
    z-index: 0;
  }
  .screenH li {
    list-style: none;
    padding-left: 0px;
    border-radius: 5px;
  }
  .screenH li :hover {
    background-color: #e46d1e;
    cursor: pointer;
  }
  .screenH ul {
    padding-left: 0px;
  }
  body {
    background-size: 100vw 140vh;
  }
  .contmenu ul {
    text-align: center;
  }
  thead .h3 {
    background-color: #ff8d00;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  tbody tr {
    display: none;
  }
  .Infomaps1, .Infomaps2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .iconmenu2 {
    width: 50px;
    margin: -130px 0px 0px 95%;
    position: relative;
    z-index: 0;
  }
  body {
    background-size: 100vw 140vh;
  }
}

.darkmode {
  background-color: #020124;
  color: white;
}

.darkmode .titleunderline {
  color: white;
}

.darkmode .cont-enlace {
  background-color: rgba(78, 76, 76, 0.719);
  border: 1px solid rgba(0, 0, 0, 0.145);
}

.darkmode .cont-enlace-nav {
  background-color: rgba(78, 76, 76, 0.719);
  border: 1px solid rgba(0, 0, 0, 0.145);
}

.darkmode .cont-enlace-lectura {
  background-color: #242323;
  -webkit-box-shadow: #19191a 3px 3px 6px 0px inset, rgba(54, 54, 54, 0.5) -3px -3px 6px 1px inset;
          box-shadow: #19191a 3px 3px 6px 0px inset, rgba(54, 54, 54, 0.5) -3px -3px 6px 1px inset;
}

.darkmode .cont-enlace:hover {
  background-color: rgba(59, 58, 58, 0.859);
}

.darkmode .cont-enlace-.cont-enlace-nav {
  background-color: rgba(59, 58, 58, 0.859);
}

.darkmode .contmenu {
  background: #2ca50b;
  background: linear-gradient(164deg, #2ca50b 28%, #2f8f15 43%, #62a350 87%, #729469 100%);
}

.darkmode .contmenu ul li:hover {
  background: #e49502;
  background: linear-gradient(144deg, rgba(255, 167, 3, 0.931) 63%, #a58241 100%);
}

.darkmode .ico2 {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.darkmode .grayline {
  color: #c3c2c2;
}

.darkmode .contactgif {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.darkmode .red, .darkmode .green {
  color: white;
}

.darkmode .icoup {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.darkmode .txtup {
  color: white;
}

.darkmode #sign-out-button {
  background-color: grey;
}
/*# sourceMappingURL=styles.css.map */